body::before {
    display: block;
    content: '';
    height: 60px;
}

.secondary-page-title-custom-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.custom-img-size {
    width: 700px; /* Set your desired width */
    height: 750px; /* Set your desired height */
    object-fit: cover; /* This will cover the area, cropping the image if necessary */
}

.custom-img-app-size {
    width: 700px;
    height: 1000px;
    object-fit: cover;
}
